
<div>
    <div class="signIncontainer">
        <div class="signinwrapp">
               <div class="title">
                <span class="wellcome">WellCome To  AppHUB</span>
                <span class="titlecompany">Technologies LLP</span>
                <span class="titleinsignin">Sign In</span>
               </div>
             <form [formGroup]="fg" (ngSubmit)="onSubmit()" class="form">
                <label for="Email" class="from-title">Email :</label>
                <input class="box" type="text" formControlName="email">
                <p class="error" *ngIf="email && email.invalid && email.touched"> Please enter valid email</p>
                <label for="password" class="from-title">Password :</label>
                <input placeholder="examble: Dina@Karan143"  class="box"type="password" formControlName="password">
                <p class="error" *ngIf="password && password.invalid && password.touched"> Please enter valid email</p>
                <button type="submit" [disabled]="fg.invalid" class="btn">Submit</button>
             </form>
             <button (click)="gotoforget()" class="box forget"  >
                Forget Password
             </button>
        </div>
    </div>
</div>
