.signIncontainer{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
    height: 100vh;
}
.error{
    font-size: small;
    color: red;
    padding: 2px;
}
.signinwrapp{
    width: 400px;
    padding: 30px;
    height: 550px;
    background-color:#fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100px;
    flex-direction: column;
}
.wellcome{
    font-size: x-large;
    font-weight: 900;
    color: #0c7b7b;
}
.titlecompany{
color: rgb(164, 163, 163);
}
.titleinsignin{
    color:rgb(101, 101, 249);
    font-weight: 700;
    font-size: larger;
}
.form{
    display: flex;
    flex-direction: column;
}
.from-title{
    margin: 5px;
    font-weight: 700;
}
.box{
    margin: 0 20px;
    border: 2px solid #797979;
    border-radius: 8px;
    padding: 8px;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn{
    width: 70px;
    margin: 20px;
    padding: 7px 0px 5px 9px;
    font-size: 16px;
    cursor: pointer;
    background-color:#FFE6F7 ;
    border: 2px solid gray;
    border-radius: 8px;
    font-weight: 700;
    text-decoration: none;
}
.btn:hover{
    background-color:#937DC2 ;
    color: #fff;
    border: 3px solid #eb84ca ;
}