<div class="froget-container">
    <div class="alain">
        <div class="forget-wrap">
            <label for="forget" class="title">Please Enter the Valid Email ID</label>
            <input placeholder="examble: Dina@Karan143" type="text" name="email" class="box" [formControl]= "email" />
            <p class="error" *ngIf="email1 && email1.invalid && email1.touched"> Please enter valid email</p>
            <button class="btn" [disabled]="email1.invalid" (click)="Onsubmit()">Submit</button>
        </div>
    </div>
</div>
